* {
  margin: 0px;
}

body {
  overflow-x: hidden;
  font-family: "Palanquin Dark";
}
.header_img {
  width: 100vw;
}

.container_height {
  height: 100vh;
}

.empre_logo {
  width: 25%;
}

.empre_p {
  text-align: center;
}
