.btn{
    display: flex;
     padding: 1.5rem;
     align-items: center;
     justify-content: center;
}
.btn-primary{
    border-color: #5C2AFF;
    background-color: #5C2AFF;
}

i {
    margin: 0;
    padding: 0;
}