.box {
    display: flex;
    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    color:#3E3E3E;
    width: 10em;
    height: 10em;
    margin-left: auto;
    padding: 2rem;
    transform: rotate(10deg);
    align-items: center;
    font-size: large;
}

.gif{
    width: auto;
    max-height: 400px;
}

.steps{
    height: auto;
}

.empre_container {
   width:100%;
}


.empre_img {
    height: 15rem;
    width: auto;
}

.background-eventos {
    background-image: url("../img/Ilustraciones/Dayflow-Abstract5.svg");
    z-index: -1;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

@media screen and (min-width: 1000px){
    .subtitle {
    font-size:40px;
    line-height: 40px;
    }
    .box {
        width: 20em;
        height: 20em;
    }
    .empre_img {
        height: 30rem;
    }

    .empre_container {
        width:50%;
     }

     .empre_inicio {
         font-size: x-large;
         line-height: 40px;
     }

     p {
         font-size: 18px;
         line-height: 30px;
     }
     .container {
         margin-bottom: 3rem;
     }
}