.box {
    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    color:#3E3E3E;
    width: 14em;
    margin-left: auto;
    padding: 20px;
    transform: rotate(10deg);
}

.gif{
    width: auto;
    max-height: 400px;
}

.steps{
    height: auto;
}