@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600&family=Roboto&display=swap');

$types: ('regular':400,'medium':500,'semi-bold':600);

h2 {
    font-size: 20px;
    color: #3399ff;
    text-align: center;
  }
h3 {
    font-size: 12px;
    color: #3e3e3e;
    text-align: center;
}

p{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    strong{
        color: #3399ff;
    }
}

.font-14{
    font-size: 14px;
}
.subtitle{
    margin: 1.5rem 1rem 1rem 1rem;
    color: #5C2AFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}
.center{
    text-align: center;
}
@each $type, $weight in $types{
    .font-#{$type}{
        font-weight: $weight;
    }
}