.navbar-nav{
    font-size: 12px;
    font-family: 'Palanquin Dark';
    display: flex;
    flex-direction: row;
    .nav-link{
        color: #3E3E3E !important;
    }
    .active{
        color: #5C2AFF !important;
    }
    span{
        margin: auto 6px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-nav{
        font-size: 15px;
    }
}
