* {
  margin: 0px;
}

body {
  overflow-x: hidden;
}
.header_img {
  width: 100vw;
}
h2 {
  font-size: 2.5rem;
  color: #3399ff;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  color: #3e3e3e;
  text-align: center;
}

footer {
  padding: 1.5em;
  background-color: #5c2aff2a;
  width: 100vw;
}
