.form {
	font-family: 'Roboto';
	div {
		display: flex;
		flex-direction: column;
	}
	label {
		font-size: 12px;
	}
	input,
	textarea {
		border-radius: 8px;
		border: none;
		border-bottom: 1px solid rgba(88, 162, 237, 0.42);
		background-color: rgba(88, 162, 237, 0.06);
		height: 56px;
	}
	textarea {
        border: 1px solid #3399FF;
        background-color: transparent;
		resize: none;
		height: 165px;
        padding: 4px;
        font-size: 16px;
        min-width: 256px;
	}
    :nth-child(3){
        flex-direction: row;
        display: flex;
        justify-content: center;
        button{
            margin: 0 8px;
            height: 24px;
            width: 24px;
        }
    }
}
